.landing-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  max-width: 935px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: justify;
  line-height: 1.5;
}

.landing-div h1 {
  color: #00ac00;
  padding: 0;
  margin: 0;
}

.landing-div p {
  margin: 10px 0;
  text-align: center;
}

.app-description {
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
}

.app-description h2 {
  margin-bottom: 10px;
  color: #00a900;
}

.app-description ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #ffffff;
}

.app-description li {
  margin-bottom: 8px;
}
