.landing-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.landing-div h1 {
  color: #00a900;
  margin-bottom: 15px;
}

.landing-div p {
  margin: 10px 0;
  text-align: center;
}

.app-description {
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #ffffff;
}

.app-description h2 {
  margin-bottom: 10px;
  color: #00a900;
}

.app-description ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #ffffff;
}

.app-description li {
  margin-bottom: 8px;
}

.highlight {
  font-weight: bold;
  font-style: italic;
}

.white {
  color: white;
}
