.login-form {
  background: #e3e3e3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.441);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 15px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.login-form button {
  background-color: #00a900;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 165px;
  min-width: fit-content;
  transition: transform 0.25s ease, background-color 0.4s ease;
}

.login-form button:hover {
  background-color: #186218;
  transform: scale(1.035);
}

.login-form h2 {
  margin: 0;
  color: black;
  font-weight: bold;
}

.error {
  color: rgb(155, 0, 0);
  margin: 10px 0;
  text-align: center;
  font-weight: bolder;
}

.success {
  color: rgb(0, 153, 255);
  font-weight: bold;
  text-align: center;
  font-size: 1.3em;
  font-style: italic;
}

.color-white {
  color: white;
}
